<!-- <p>Addition Of two Number</p>
<input type="text"  #a placeholder="Enter Value"><br>
<input  type="text" #b placeholder="Enter Value"><br><br>
<br>
<button  (click)="addition(a.value,b.value)">Addition</button><br>
<br>
{{c}} -->
<!-- <input type="number" placeholder="Result" c.value><br> -->
First Number:<br>
<input type="text" #firstnumber>
<br>
second Number:<br>
<input type="text" #secondnumber>
<br>
Your Sum is :<b>{{result}}</b>
<br>
<button (click)="Addition(firstnumber.value,secondnumber.value)">Sum</button>
<hr>
<h1>String Concatination</h1>
First String :<br>
<input type="text" #firststring>
<br>
second String:<br>
<input type="text" #secondstring>
<br>
String Concat  :<b>{{result1}}</b>
<br>
<button (click)="stringJoin(firststring.value,secondstring.value)">Join</button>


