<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-attribute></app-attribute>

<router-outlet></router-outlet> -->
<!-- <app-struct-directives></app-struct-directives>
<app-test></app-test>
<app-event></app-event>
<app-property></app-property>
<app-hooks></app-hooks>
<app-directive-assig></app-directive-assig> -->
<!-- 
<input type="text" (keyUp.enter)="passValue($event)">
<br>

<br> -->
<!-- <app-template-reference></app-template-reference>
<app-array-comp></app-array-comp>
<app-incre-decrement></app-incre-decrement> -->

<!-- <input type="text" (keyUp.enter)="a($event)">
<input type="text" (keyUp.enter)="b($event)">
<input type="text" (keyUp.enter)="c($event)">
<app-child-addition></app-child-addition> -->
<!-- <input #newFruit type="text" placeholder="Enter  new fruit Name">
<input #new type="text" placeholder="Enter Value">

<button (click)="addFruit(newFruit.value)">Add Fruit</button>
<button (click)="concatString(new.value)">Concat</button>
<app-child [data]="fruits"></app-child> -->
<!-- <app-addition></app-addition>
<app-practise></app-practise> -->
<!-- <app-arry-push-nd-remove></app-arry-push-nd-remove>
<app-password></app-password>
<app-hook-practise></app-hook-practise>
<app-child [data]="fruits"></app-child> 
<app-child [pData]></app-child> 
<app-simple-template-form></app-simple-template-form>
<app-life-cycle-hook-parent></app-life-cycle-hook-parent> -->
<!-- <div class="container">
    <app-form-example></app-form-example>
</div>

<app-registrartion-form></app-registrartion-form>
<div class="container">
    <!-- <app-simple-template-form></app-simple-template-form> -->
<!-- </div>
<app-simpleform></app-simpleform>  -->
<app-form-imran></app-form-imran>
<app-simpleform></app-simpleform> 
<app-hero></app-hero>
<app-student-registration-form></app-student-registration-form>