<h1>Importtant Event in Angular</h1>
<button (click)="myEvent('This is click Event')">Click</button>
<br>
<input type="text" #box (keyup.enter)="myEvent(box.value)">
<br>
<input type="text" (keydown)="myEvent('This is key down Event')">
<br><br>
<input type="text"  (blur)="myEvent('Blur event called')">
<br>
<br>
<h1  (mouseover)="myEvent('This is the mouse over event')" style="background-color: red;" >
    Mouse Event
</h1>
<br>
<br>
<h1  (mouseleave)="myEvent('This is the mouse leave event')" style="background-color:gray;" >
    Mouse Event
</h1>